In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('agora.csv')

In [3]:
df

    Marketing Spend  Administration  Transport     Area     Profit
0         114523.61       136897.80  471784.10    Dhaka  192261.83
1         162597.70       151377.59  443898.53      Ctg  191792.06
2         153441.51       101145.55  407934.54  Rangpur  191050.39
3         144372.41       118671.85  383199.62    Dhaka  182901.99
4         142107.34        91391.77  366168.42  Rangpur  166187.94
5         131876.90        99814.71  362861.36    Dhaka  156991.12
6         134615.46       147198.87  127716.82      Ctg  156122.51
7         130298.13       145530.06  323876.68  Rangpur  155752.60
8         120542.52       148718.95  311613.29    Dhaka  152211.77
9         123334.88       108679.17  304981.62      Ctg  149759.96
10        101913.08       110594.11  229160.95  Rangpur  146121.95
11        100671.96        91790.61  249744.55      Ctg  144259.40
12         93863.75       127320.38  249839.44  Rangpur  141585.52
13         91992.39       135495.07  252664.93      Ctg  134307.35
14        119943.24       156547.42  256512.92  Rangpur  132602.65
15        165349.20       122616.84  261776.23    Dhaka  129917.04
16         78013.11       121597.55  264346.06      Ctg  126992.93
17         94657.16       145077.58  282574.31    Dhaka  125370.37
18         91749.16       114175.79  294919.57  Rangpur  124266.90
19         86419.70       153514.11        NaN    Dhaka  122776.86
20         76253.86       113867.30  298664.47      Ctg  118474.03
21         78389.47       153773.43  299737.29    Dhaka  111313.02
22         73994.56       122782.75  303319.26  Rangpur  110352.25
23         67532.53       105751.03  304768.73  Rangpur  108733.99
24         77044.01        99281.34  140574.81    Dhaka  108552.04
25         64664.71       139553.16  137962.62      Ctg  107404.34
26         75328.87       144135.98  134050.07  Rangpur  105733.54
27         72107.60       127864.55  353183.81    Dhaka  105008.31
28         66051.52       182645.56  118148.20  Rangpur  103282.38
29         65605.48       153032.06  107138.38    Dhaka  101004.64
30         61994.48       115641.28   91131.24  Rangpur   99937.59
31         61136.38       152701.92   88218.23    Dhaka   97483.56
32         63408.86       129219.61   46085.25      Ctg   97427.84
33         55493.95       103057.49  214634.81  Rangpur   96778.92
34         46426.07       157693.92  210797.67      Ctg   96712.80
35         46014.02        85047.44  205517.64    Dhaka   96479.51
36         28663.76       127056.21  201126.82  Rangpur   90708.19
37         44069.95        51283.14  197029.42      Ctg   89949.14
38         20229.59        65947.93  185265.10    Dhaka   81229.06
39         38558.51        82982.09  174999.30      Ctg   81005.76
40         28754.33       118546.05  172795.67      Ctg   78239.91
41         27892.92        84710.77  164470.71  Rangpur   77798.83
42         23640.93        96189.63  148001.11      Ctg   71498.49
43         15505.73       127382.30   35534.17    Dhaka   69758.98
44         22177.74       154806.14   28334.72      Ctg   65200.33
45          1000.23       124153.04    1903.93    Dhaka   64926.08
46          1315.46       115816.21  297114.46  Rangpur   49490.75
47             0.00       135426.92       0.00      Ctg   42559.73
48           542.05        51743.15       0.00    Dhaka   35673.41
49             0.00       116983.80   45173.06      Ctg   14681.40

# Normalization

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
m = MinMaxScaler(feature_range=(0,1))

In [6]:
df['Marketing Spend'] =m.fit_transform(df[['Marketing Spend']])

In [7]:
df['Marketing Spend']

0     0.692617
1     0.983359
2     0.927985
3     0.873136
4     0.859438
5     0.797566
6     0.814128
7     0.788018
8     0.729018
9     0.745906
10    0.616351
11    0.608845
12    0.567670
13    0.556352
14    0.725394
15    1.000000
16    0.471808
17    0.572468
18    0.554881
19    0.522650
20    0.461169
21    0.474084
22    0.447505
23    0.408424
24    0.465947
25    0.391080
26    0.455574
27    0.436093
28    0.399467
29    0.396769
30    0.374931
31    0.369741
32    0.383485
33    0.335617
34    0.280776
35    0.278284
36    0.173353
37    0.266527
38    0.122345
39    0.233194
40    0.173901
41    0.168691
42    0.142976
43    0.093776
44    0.134127
45    0.006049
46    0.007956
47    0.000000
48    0.003278
49    0.000000
Name: Marketing Spend, dtype: float64

In [8]:
df['Administration'] =m.fit_transform(df[['Administration']])

In [9]:
df['Administration']

0     0.651744
1     0.761972
2     0.379579
3     0.512998
4     0.305328
5     0.369448
6     0.730161
7     0.717457
8     0.741733
9     0.436929
10    0.451506
11    0.308364
12    0.578836
13    0.641066
14    0.801327
15    0.543030
16    0.535270
17    0.714013
18    0.478772
19    0.778236
20    0.476424
21    0.780210
22    0.544293
23    0.414638
24    0.365388
25    0.671958
26    0.706845
27    0.582978
28    1.000000
29    0.774566
30    0.489928
31    0.772053
32    0.593294
33    0.394134
34    0.810055
35    0.257032
36    0.576825
37    0.000000
38    0.111636
39    0.241309
40    0.512041
41    0.254469
42    0.341852
43    0.579307
44    0.788072
45    0.554724
46    0.491260
47    0.640547
48    0.003502
49    0.500148
Name: Administration, dtype: float64

In [10]:
df['Transport'] =m.fit_transform(df[['Transport']])

In [11]:
df['Transport']

0     1.000000
1     0.940893
2     0.864664
3     0.812235
4     0.776136
5     0.769126
6     0.270710
7     0.686493
8     0.660500
9     0.646443
10    0.485733
11    0.529362
12    0.529563
13    0.535552
14    0.543708
15    0.554864
16    0.560312
17    0.598948
18    0.625116
19         NaN
20    0.633053
21    0.635327
22    0.642920
23    0.645992
24    0.297964
25    0.292427
26    0.284134
27    0.748613
28    0.250429
29    0.227092
30    0.193163
31    0.186989
32    0.097683
33    0.454943
34    0.446810
35    0.435618
36    0.426311
37    0.417626
38    0.392690
39    0.370931
40    0.366260
41    0.348614
42    0.313705
43    0.075319
44    0.060059
45    0.004036
46    0.629768
47    0.000000
48    0.000000
49    0.095749
Name: Transport, dtype: float64

# Standardization

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
s = StandardScaler()

In [14]:
df['Administration'] =m.fit_transform(df[['Administration']])

In [15]:
df['Administration']

0     0.651744
1     0.761972
2     0.379579
3     0.512998
4     0.305328
5     0.369448
6     0.730161
7     0.717457
8     0.741733
9     0.436929
10    0.451506
11    0.308364
12    0.578836
13    0.641066
14    0.801327
15    0.543030
16    0.535270
17    0.714013
18    0.478772
19    0.778236
20    0.476424
21    0.780210
22    0.544293
23    0.414638
24    0.365388
25    0.671958
26    0.706845
27    0.582978
28    1.000000
29    0.774566
30    0.489928
31    0.772053
32    0.593294
33    0.394134
34    0.810055
35    0.257032
36    0.576825
37    0.000000
38    0.111636
39    0.241309
40    0.512041
41    0.254469
42    0.341852
43    0.579307
44    0.788072
45    0.554724
46    0.491260
47    0.640547
48    0.003502
49    0.500148
Name: Administration, dtype: float64

In [16]:
df['Transport'] =m.fit_transform(df[['Transport']])

In [17]:
df['Transport']

0     1.000000
1     0.940893
2     0.864664
3     0.812235
4     0.776136
5     0.769126
6     0.270710
7     0.686493
8     0.660500
9     0.646443
10    0.485733
11    0.529362
12    0.529563
13    0.535552
14    0.543708
15    0.554864
16    0.560312
17    0.598948
18    0.625116
19         NaN
20    0.633053
21    0.635327
22    0.642920
23    0.645992
24    0.297964
25    0.292427
26    0.284134
27    0.748613
28    0.250429
29    0.227092
30    0.193163
31    0.186989
32    0.097683
33    0.454943
34    0.446810
35    0.435618
36    0.426311
37    0.417626
38    0.392690
39    0.370931
40    0.366260
41    0.348614
42    0.313705
43    0.075319
44    0.060059
45    0.004036
46    0.629768
47    0.000000
48    0.000000
49    0.095749
Name: Transport, dtype: float64

In [18]:
df['Marketing Spend'] =m.fit_transform(df[['Marketing Spend']])

In [19]:
df['Marketing Spend']

0     0.692617
1     0.983359
2     0.927985
3     0.873136
4     0.859438
5     0.797566
6     0.814128
7     0.788018
8     0.729018
9     0.745906
10    0.616351
11    0.608845
12    0.567670
13    0.556352
14    0.725394
15    1.000000
16    0.471808
17    0.572468
18    0.554881
19    0.522650
20    0.461169
21    0.474084
22    0.447505
23    0.408424
24    0.465947
25    0.391080
26    0.455574
27    0.436093
28    0.399467
29    0.396769
30    0.374931
31    0.369741
32    0.383485
33    0.335617
34    0.280776
35    0.278284
36    0.173353
37    0.266527
38    0.122345
39    0.233194
40    0.173901
41    0.168691
42    0.142976
43    0.093776
44    0.134127
45    0.006049
46    0.007956
47    0.000000
48    0.003278
49    0.000000
Name: Marketing Spend, dtype: float64

# Max Absulate Scaler

In [20]:
from sklearn.preprocessing import MaxAbsScaler

In [21]:
df['Transport']=df['Transport'].abs()

In [22]:
df['Transport']

0     1.000000
1     0.940893
2     0.864664
3     0.812235
4     0.776136
5     0.769126
6     0.270710
7     0.686493
8     0.660500
9     0.646443
10    0.485733
11    0.529362
12    0.529563
13    0.535552
14    0.543708
15    0.554864
16    0.560312
17    0.598948
18    0.625116
19         NaN
20    0.633053
21    0.635327
22    0.642920
23    0.645992
24    0.297964
25    0.292427
26    0.284134
27    0.748613
28    0.250429
29    0.227092
30    0.193163
31    0.186989
32    0.097683
33    0.454943
34    0.446810
35    0.435618
36    0.426311
37    0.417626
38    0.392690
39    0.370931
40    0.366260
41    0.348614
42    0.313705
43    0.075319
44    0.060059
45    0.004036
46    0.629768
47    0.000000
48    0.000000
49    0.095749
Name: Transport, dtype: float64

In [23]:
df['Max_Transport']=df['Transport'].max()

In [24]:
df['Max_Transport']

0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
22    1.0
23    1.0
24    1.0
25    1.0
26    1.0
27    1.0
28    1.0
29    1.0
30    1.0
31    1.0
32    1.0
33    1.0
34    1.0
35    1.0
36    1.0
37    1.0
38    1.0
39    1.0
40    1.0
41    1.0
42    1.0
43    1.0
44    1.0
45    1.0
46    1.0
47    1.0
48    1.0
49    1.0
Name: Max_Transport, dtype: float64

In [25]:
x_Tr = df['Transport'] / df['Max_Transport']

In [26]:
x_Tr

0     1.000000
1     0.940893
2     0.864664
3     0.812235
4     0.776136
5     0.769126
6     0.270710
7     0.686493
8     0.660500
9     0.646443
10    0.485733
11    0.529362
12    0.529563
13    0.535552
14    0.543708
15    0.554864
16    0.560312
17    0.598948
18    0.625116
19         NaN
20    0.633053
21    0.635327
22    0.642920
23    0.645992
24    0.297964
25    0.292427
26    0.284134
27    0.748613
28    0.250429
29    0.227092
30    0.193163
31    0.186989
32    0.097683
33    0.454943
34    0.446810
35    0.435618
36    0.426311
37    0.417626
38    0.392690
39    0.370931
40    0.366260
41    0.348614
42    0.313705
43    0.075319
44    0.060059
45    0.004036
46    0.629768
47    0.000000
48    0.000000
49    0.095749
dtype: float64

In [27]:
df['Administration']=df['Administration'].abs()

In [28]:
df['Max_Administration']=df['Administration'].max()

In [29]:
x_Ad = df['Transport'] / df['Max_Transport']

In [30]:
x_Ad

0     1.000000
1     0.940893
2     0.864664
3     0.812235
4     0.776136
5     0.769126
6     0.270710
7     0.686493
8     0.660500
9     0.646443
10    0.485733
11    0.529362
12    0.529563
13    0.535552
14    0.543708
15    0.554864
16    0.560312
17    0.598948
18    0.625116
19         NaN
20    0.633053
21    0.635327
22    0.642920
23    0.645992
24    0.297964
25    0.292427
26    0.284134
27    0.748613
28    0.250429
29    0.227092
30    0.193163
31    0.186989
32    0.097683
33    0.454943
34    0.446810
35    0.435618
36    0.426311
37    0.417626
38    0.392690
39    0.370931
40    0.366260
41    0.348614
42    0.313705
43    0.075319
44    0.060059
45    0.004036
46    0.629768
47    0.000000
48    0.000000
49    0.095749
dtype: float64

In [31]:
df['Marketing Spend']=df['Marketing Spend'].abs()

In [32]:
df['Max_Marketing_Spend']=df['Marketing Spend'].max()

In [34]:
x_Ma = df['Marketing Spend'] / df['Max_Marketing_Spend']

In [35]:
x_Ma

0     0.692617
1     0.983359
2     0.927985
3     0.873136
4     0.859438
5     0.797566
6     0.814128
7     0.788018
8     0.729018
9     0.745906
10    0.616351
11    0.608845
12    0.567670
13    0.556352
14    0.725394
15    1.000000
16    0.471808
17    0.572468
18    0.554881
19    0.522650
20    0.461169
21    0.474084
22    0.447505
23    0.408424
24    0.465947
25    0.391080
26    0.455574
27    0.436093
28    0.399467
29    0.396769
30    0.374931
31    0.369741
32    0.383485
33    0.335617
34    0.280776
35    0.278284
36    0.173353
37    0.266527
38    0.122345
39    0.233194
40    0.173901
41    0.168691
42    0.142976
43    0.093776
44    0.134127
45    0.006049
46    0.007956
47    0.000000
48    0.003278
49    0.000000
dtype: float64

In [36]:
import joblib as jb

In [37]:
jb.dump(df,'Feature')

['Feature']